<header class="header">
  <nav class="nav">
    <div class="nav-container">
      <img class="logo-header" src="../img/Plus-Pack-Logo_-2019_withoutPromise.jpeg" alt="firm-logo">
      <ul class="nav-list">

        <li class="nav-item">
          <a href="../index.html" class="nav-link">Головна</a>
        </li>
  
        <li class="nav-item">
          <a href="../offer.html" class="nav-link">Товари</a>
        </li>
  
        <li class="nav-item">
          <a href="../constact.html" class="nav-link">Контакт</a>
        </li>
      </ul>
    </div>

  </nav>
</header>
