.first-container {
  margin-top: 90px;
}
  .moveContainer {
    margin-top: 275px;
  }

  .film-container {
    min-height: 100vh;
    position: relative;
    margin-top: 90px;
    transition:  margin-top 0.5s ease; 

    display: flex;
    justify-content: center;
  }

.main-film {
    
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    width: 100%;

    object-fit: cover;
}


@media (min-width: 1000px) {

    
}